*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  height: 100vh;
  background-color:#9381FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  background-color: #B8B8FF;
  max-width: 720px;
  min-width: 480px;
  height: 80vh;
  padding: 1rem;

}

.user-container{
  margin-bottom: 2rem;
}

#heading{
  border-radius: 2px;
  font-size: 2.8rem;
  background-color: #9381FF;
}

#p{
  font-family: cursive;
}

.input-container{
  margin-top: 0.5rem;
  width: 80rem;
  
}

.text-field{
  width: 20rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid white;
}

.text-field:hover{
  border: 3px solid #9381FF;
}
.search-btn{
  height: 2rem;
  width: 5rem;
  border-radius: 1rem;
  background-color: #9381FF;
  color: aliceblue;
  border: 1px solid white;
}

.search-btn:hover{
  border: 2px solid black;
  cursor: pointer;
}

.stats-container{
  background-color: #7075a9;
  height: 10rem;
}

.progress-container{
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  padding: 1rem;
  height: 100%;
  flex-wrap: wrap;
}

.progress-item{
display: flex;
align-items: center;
font-size: small;
flex-direction: column;
justify-content: center;
color: aliceblue;
font-weight: 700;
height: 100px;
width: 100px;
border-radius: 50%;
border: 5px solid white;
background: conic-gradient(#6a994e var(--progress-degree,0%),#386641  0%);
}
 
